html {
  height: 100%;
}
body {
width: 800px;
margin: 0 auto;
padding-top: 5px;
height: 100%;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  display: block;
  width:790px;

}
nav{
  line-height: 30px;
  background-color: #eeeeee;

}
